<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/theme.css">

  <title>Design Connectanou</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container">
      <a class="navbar-brand" href="#"><img class="logo" src="img/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Link</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Link</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Link</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Link</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link register" href="#">S'inscrire</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Title</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae laborum in quidem eius, ea, ad quos
            odio
            praesentium hic assumenda veritatis quod accusamus quo labore provident temporibus et libero cumque.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id perspiciatis quisquam voluptates facilis
            sapiente quis, reprehenderit hic sint odio, reiciendis dolor in. Temporibus iusto voluptatibus sunt sit
            provident aut?</p>
        </div>
        <div class="col-md-4"><img class="img-fluid float-right" src="img/success.png"></div>
      </div>
    </div>
  </main>

  <section>
    <div class="container">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores veniam odio id numquam ullam nemo dolore
        accusantium. Voluptate est laudantium atque possimus reiciendis laborum? Consectetur eveniet molestiae ipsum?
        Sunt, officia.

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, est deleniti corporis vitae quam quasi ad
        similique
        delectus modi nemo velit, eligendi quod! Eos vitae voluptatum sed cum. Voluptates, quia.
      </p>
    </div>
  </section>

  <section class="grey">
      <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores veniam odio id numquam ullam nemo dolore
          accusantium. Voluptate est laudantium atque possimus reiciendis laborum? Consectetur eveniet molestiae ipsum?
          Sunt, officia.
  
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, est deleniti corporis vitae quam quasi ad
          similique
          delectus modi nemo velit, eligendi quod! Eos vitae voluptatum sed cum. Voluptates, quia.
        </p>
      </div>
    </section>

  <footer>
    <div class="container">
      <ul>
        <li><a href="#">A propos</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Mentions légales</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>