html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { height: 101%; }

body { 
  background: #f0f0f0 url('images/bg.gif'); 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #313131;
  font-size: 62.5%; 
  line-height: 1; 
}


h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}
h1:before,
h1:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #f0f0f0;
}
h1:before {    
  left: -.5em;
  margin: 0 0 0 -50%;
}
h1:after {    
  left: .5em;
  margin: 0 -50% 0 0;
}
h1 > span {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

p {
  display: block;
  font-size: 1.35em;
  line-height: 1.5em;
  margin-bottom: 22px;
}

a { color: #5a9352; text-decoration: none; }
a:hover { text-decoration: underline; }

.center { display: block; text-align: center; }

#w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
}

#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

ul.b{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    position:relative;
    left:550px;
}
.b li {
    float: left;
}

.b li{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.b li :hover:not(.active) {
    background-color: #111;
}
ul.c{
	position:absolute;
	bottom:0px;
	right:10px;
	list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: none;
    color:white;
}
.c li{
    float: left;
}

.c li{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.c li :hover:not(.active) {
    background-color: #111;
}
li.f{
	position:relative;
	right:0px;
}
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 9px 25px;
    border: 1px solid #a60e10;
    border-radius: 19px;
    background: #ff1b1e;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff1b1e), to(#a60e10));
    background: -moz-linear-gradient(top, #ff1b1e, #a60e10);
    background: linear-gradient(to bottom, #ff1b1e, #a60e10);
    text-shadow: #62090a 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid ##c31113;
    background: #ff2024;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff2024), to(#c71113));
    background: -moz-linear-gradient(top, #ff2024, #c71113);
    background: linear-gradient(to bottom, #ff2024, #c71113);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #a60e10;
    background: -webkit-gradient(linear, left top, left bottom, from(#a60e10), to(#a60e10));
    background: -moz-linear-gradient(top, #a60e10, #a60e10);
    background: linear-gradient(to bottom, #a60e10, #a60e10);
}
.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background-size: 100% 100%;
}

#slideshow {
	position: relative;
	width: 860px;
	height: 640px;
	padding: 10px;
	margin: 0 auto 2em;
	border: 1px solid #ddd;
	background: none
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}
