
img.avatar {
    max-width:180px;
    max-height:180px;
    width:auto;
    height:auto;
    border: 1;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      min-height: 80px
    }
    .navbar-brand{
      padding: 0 15px;
      height: 80px;
      line-height: 80px;

    }
    .row.content {height: 450px}
    
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
/* 3 colonnes côte à côte */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;

}

/* Affichage en cascade  sur mobile */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 5px;
  color: white;
  text-align:center;
  background-color: #000;
  cursor: pointer;
  width: 50%;
}

.button:hover {
  background-color: #555;
}
